<%- include("./html-files/head.ejs") %>
<title>Add Note | NoteBook Application</title>

  <body>


    <%- include("./html-files/nav.ejs") %>

      <div id="content">
        <div class="scroll">
          <div class="scrollContainer">
            <% if(error_msg){ %>
                      
              <p class="error_msg"><%= error_msg %></p>

            <% } %>
            
            <% if(success_msg){ %>
              
              <p class="success_msg"><%= success_msg %></p>
            <% } %>
            <div class="panel" id="contactus">
              <h1>Add Note </h1>
              <p>Feel free to add notes and refer back to them in the future.</p>
              <div class="cleaner_h10"></div>

              <div class="col_380 float_l">
                <div id="contact_form">
                  <form action="/users/write-note" method="POST" enctype="multipart/form-data">
                    <label for="title">Title:</label>
                    <input type="text" maxlength="40" name="title" id="subject" class="input_field" />
                    <div class="cleaner_h10"></div>
                    <label for="message">Note:</label>
                    <textarea id="text" name="body" rows="0" cols="0" class="required"></textarea>
                    <div class="cleaner_h10"></div>
                    <label for="image">Add image:</label>

                    <div class="cleaner_h10"></div>



                    <input type="file" class="input_field" onchange="previewImage(event)" id="image"
                      name="documentimage" value="Add Image" /><br><br>
                    <input type="submit" value="Save" id="submit" class="submit_btn float_l " />
                    <center><img id="previewImageId" width="30%" /></center>


                  </form>
                </div>
              </div>

              <div class="col_380 float_r"> </div>
            </div>
          </div>
        </div><!-- end of scroll -->
      </div>
      </div> <!-- end of content -->
      </div>


      <%- include("./html-files/footer.ejs") %>

        <script>

          // Previewing Image
          var previewImage = function (event) {
            let imagefile = event.target.files[0]
            var image = document.getElementById('previewImageId');
            let imageURL = URL.createObjectURL(imagefile);
            image.src = imageURL;
            document.querySelector('#Imagepreviewername').innerHTML = imagefile.name;
            $('#imagepreviewer').show();
          };



        </script>




  </body>

  <style>
      .error_msg{
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
          text-align: center;
          
      }
  
      .success_msg{
          color: #3c763d;
          background-color: #ddf0d8;
          border-color: #d6e9c6;
          text-align: center;
      }
      </style>
  </html>